.navbar {
  display: flex;
  padding: 10px 32px;
  background-color: #f1f5f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbarleft {
  display: flex;
  align-items: center;              
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #003bfc;
  margin: 0;
}

.logo span {
  color: #0c0c0c;
}

.line {
  font-size: 12px;
  color: #444;
  margin: 0px;
}

.emoji {
  font-size: 40px; 
}

.left-text{
display: flex;
flex-direction: column;
justify-content: center;
line-height: 1.1;
}

.navlinks {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinks a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
}

.buttons .login-btn {
  background: #003bfc;
  color: #fff;
  border: none;
}
.buttons .login-btn:hover {
  background: #0026b3;
}
.hamburger{
  display: none;
  cursor: pointer;
}

.buttons .login-btn:hover {
  background-color: #0026b3;
  color: white;
}

/* .navlinks li a {
  text-decoration: none;
  color: #333;
  padding-bottom: 4px;
  transition: all 0.3s ease;
} */

.navlinks li a:hover {
  color: #2563eb;
}

.navlinks li a.active-link {
  color: #2563eb;
  /* border-bottom: 2px solid #2563eb; */
}

@media (max-width: 768px) {
  .navlinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
  .navlinks.open {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}